:root{
    --main-color:#e38528;
}
*{
    font-family: 'Roboto',sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
body{
    background: #fcf2e8;
    padding-left: 30rem;
}
section{
    padding: 1rem 5%;
    min-height: 100vh;
}
.heading{
    font: size 4rem;
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercases;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercases;
}
.btn{
    display: inline-block;
    margin: top 1rem;
    padding: .8rem 3rem;
    background: var(--main-color);
    color:#fff;
    cursor: pointer;
    font-size:1.7rem;
}
.btn:hover{
    background: #111;
    letter-spacing: .2rem;
}
header{
    position:fixed;
    top:0;
    left:0;
    bottom: 0;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    text-align: center;
}
header.logo{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
}
header .logo span{
    text-transform: uppercase;
    color:var(--main-color);
}

header .navbar a{
    display: block;
    font-size:2rem;
    color: #fff;
    margin: 2rem 0;
}
header .navbar a:hover{
    letter-spacing:.2rem;
    color:var(--main-color);
}
header.follow a{
    font: size 2.5rem;
    color:#fff;
    margin: 0 .7rem;
}
header .follow a:hover{
    color:-(--main-color);
}
#menu-bars{
    position: fixed;
    top: 1rem; right:1rem;
    z-index:10000;
    background: var(--main-color);
    color: #fff;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size:3rem;
    cursor: pointer;
    display: none;
}
@media (max-width:991px){
    html{
        font-size:55% ;
    }
    body{
        padding: 0;
    }
    #menu-bars{
        display:initial;
    }
    header{
        left:120%
    }
    header.active{
        left:0%;
    }
    .cursor-1,
    .cursor-2{
        display: none;
    }
}
    @media (max-width:450px) {
        html{
            font-size:50% ;

        }
        header{
            width: 100%;
        }

    }
    .cursor-1{
        position: absolute;
        top: 500px;
        left: 500px;
        height: 1rem;
        width: 1rem;
        background: var(--main-color);
        pointer-events:none;
        transform: translate(50%,-50%);
        border-radius: 50%;
        z-index: 10000;
        transition: .3s linear;
    }
    .cursor-1.active{
        height: 7rem;
        width: 7rem;
        opacity: .3;
    }
    .cursor-2.active{
        display: none;

    }
    .home{
        display: flex;
        align-items: center;
        flex-wrap:wrap;
        gap:1.5rem
    }
    .home.image{
        flex:1.1.40rem;
    }
    .home.image img{
        width:100%
    }
    .home.content{
        flex:1 1 40rem;
    }
    .home.content.hi{
        font-size:2rem;
        color: var(--main-color);
    }
    .home.content h3{
        font-size:4.5rem;
        color: #111;
        text-transform: uppercase;
    }
    .home.content h3 span{
        color: var(--main-color);
        text-transform: uppercase;
    }
    .home.content.info{
        font-size: 2.5rem;
        color:#111;
        padding: .5rem 0;
    }
    .home.content.text{
        font-size: 1.7rem;
        color:#666;
        padding: .5rem 0;
    }
